

.home {

  --purple: #D0BFFF;
  --green: #25843A;
  --light-blue: #568CE1;


  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: var(--purple);


}

.home .left-side-content{
  max-width: 60%;
  background-color: white;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.home .left-side-content > * {
  margin: 1rem 2rem;
}

.home .left-side-content h1{
  font-size: 50px;
  text-align: center;

}

.home .left-side-content h3{
  font-size: 30px;
  font-weight: 400;
  text-align: center;

}

.home .explore{
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none  !important;
  color: black !important;
  transition: transform 0.5s ease-in-out;
}

.home .explore:hover{
  transform: scale(1.1);
}

.purple {
  color: var(--purple);
}

.green {
  color: var(--green);
}

.light-blue {
  color: var(--light-blue);
}



