
:root {
  --main-family: 'Inter', sans-serif;
  --button-border-radius: 1rem;

}

html {
  font-family: var(--main-family);
  min-height: 100%;
}

body{
  margin: 0;
}


.header{
    text-align: center;
}

.header h1 {
  padding-top:5%;
  margin: 0;
  font-size: calc(max(5vw, 32px));
}

.header .logo img {
  padding: 30px 0;
  width: 100%;
}

.header h2 {
  line-height: 34px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5%;
  font-weight: 500;
}

