.banner {
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  width: 100%;
}

.banner::after {
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 0 5rem 5rem 0;
  content: '';
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  z-index: 0;
}


.banner-container {
  align-items: left;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 2.5rem;
}

.banner-container > * {
  text-align: left;
}

.banner-container > h1 {
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.banner-container > .description {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1.125;
}

@media screen and (max-width: 426px) {
  .banner::after {
    border-width: 0;
  }

  .banner h1{
    font-size: 1.75rem !important;
    margin: 0;
  }

  .banner-container > * {
    text-align: center;
  }

  .banner-container {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .banner-container > h1 {
    font-size: 1.25rem;
  }
}