nav {
  height: 92px;
  flex-shrink: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nav-left {
  cursor: pointer;
}

.nav-left,
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem;
}

.nav-right {
  margin: 0 1.5rem;
  gap: 0.75rem;
}

.nav-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;

  color: #192333;
}

.nav-logo {
  height: 60px;
}

nav a {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-weight: bold;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #192333;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.about-btn:hover {
  transform: scale(1.1);
}
.about-btn {
  color: #323B49;
  transition: transform 0.3s;
  background: white;
}

.how-to-contribute-btn {
  background-color: #323B49;
  color: white;
  transition: transform 0.3s;
}

.how-to-contribute-btn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .nav-header {
    font-size: 1rem;
  }

  .nav-logo {
    height: 75px;
  }

  nav a {
    width: inherit;
    padding: auto 1rem;
  }

  .add-a-contribution-btn {
    display: none;
  }

  @media screen and (max-width: 426px) {
    nav .nav-right {
      display: none;
    }
  }
}