.tag {
  background: #3D6BB1;
  border-radius: 4px;
  border-width: 1rem;
  cursor: pointer;
  display: grid;
  padding: 0.25rem 0.375rem;
  place-items: center;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.tag:hover {
  background: rgb(25, 25, 172);
}

.tag-body {
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
}