{{ define "main" }}


{{/*  Note: Change GeoDS4Bolivia Dataset once we have more datasets  */}}
{{- partial "banner.html" (dict "fill" "#568CE1" "heading" "GeoDS4Bolivia Dataset") -}}

<section class = 'topics'>
  <div class='filter-header'>Relevant Filters</div>
  <div class='filters'></div>
  <div class='topic-cards'>
    {{ range where (where .Pages.ByWeight "Section" "topics" ) "Params.type" "==" "topic" }}
        {{ .Scratch.Set "title" .Params.title }}
        {{ .Scratch.Set "hideTitle" .Params.hideTitle }}
        {{ .Scratch.Set "description" .Params.description }}
        {{ .Scratch.Set "imageSource" .Params.imageSource }}
        {{ .Scratch.Set "url" .RelPermalink }}

        {{- partial "topic-card.html" . -}}
    {{ end }}
  </div>
</section>

<script>
  const TOPIC_CARD_CLASS_NAME = "card";
  const TAG_CLASS_NAME = "tag";
  const FILTER_PARENT_CLASS_NAME = "filters";
  const FILTER_BUTTON_CLASS_NAME = "filter-option";
  const FILTER_BUTTON_SELECTED_CLASS_NAME = "filter-selected";

  const HIDE_CLASS_NAME = "hidden";

  const tagsToCards = {};
  let currentButton = null;

  const cards = [...document.getElementsByClassName(TOPIC_CARD_CLASS_NAME)];
  cards.forEach(e => {
    const tagNames = [...e.getElementsByClassName(TAG_CLASS_NAME)].map(t => t.innerText);
    tagNames.forEach(t => {
      if (t in tagsToCards) tagsToCards[t] = [...tagsToCards[t], e]
      else tagsToCards[t] = [e];
    })
  });

  console.log(tagsToCards);

  const tags = Object.keys(tagsToCards);

  const hideAllTopics = () => cards.forEach(e => e.classList.add(HIDE_CLASS_NAME));
  const showAllTopics = () => cards.forEach(e => e.classList.remove(HIDE_CLASS_NAME));

  const filterTopics = newButton => {
    if (currentButton) {
      currentButton.classList.remove(FILTER_BUTTON_SELECTED_CLASS_NAME);
    }

    // deselect if matching
    if (currentButton === newButton) {
      currentButton = null;
      showAllTopics();
      return;
    }

    newButton.classList.add(FILTER_BUTTON_SELECTED_CLASS_NAME);

    hideAllTopics();
    tagsToCards[newButton.innerText].forEach(e => e.classList.remove(HIDE_CLASS_NAME));

    console.log(tagsToCards[newButton.innerText]); 

    currentButton = newButton;
  };

  const filterParent = document.getElementsByClassName(FILTER_PARENT_CLASS_NAME)[0];
  tags.forEach(t => {
    const button = document.createElement("button");
    button.classList.add(FILTER_BUTTON_CLASS_NAME);
    button.innerText = t;
    button.onclick = () => filterTopics(button);

    filterParent.appendChild(button);
  });
</script>

<style>
  .topics {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 4rem;
    width: 100%;
  }

  .filters {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .filter-header {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.0125rem;
    padding-bottom: 0.5rem;
  }

  .filter-option {
    border-radius: 4px;
    border-width: 0;
    background: #3D6BB1;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    transition: background 0.3s ease, transform 0.3s ease;
  }

  .filter-option:hover {
    background: rgb(25, 25, 172);
    cursor: pointer;
    transform: scale(1.1);
  }

  .filter-selected {
    background: rgb(25, 25, 172);
  }

  .topic-cards {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }
</style>

{{ end }}