{{ define "main" }}


{{/*  Note: Change GeoDS4Bolivia Dataset once we have more datasets  */}}
{{- partial "banner.html" (dict "fill" "#568CE1" "heading" "GeoDS4Bolivia Dataset") -}}

<section class = 'topics'>

    {{ range where (where .Pages.ByWeight "Section" "topics" ) "Params.type" "==" "topic" }}
        {{ .Scratch.Set "title" .Params.title }}
        {{ .Scratch.Set "hideTitle" .Params.hideTitle }}
        {{ .Scratch.Set "description" .Params.description }}
        {{ .Scratch.Set "imageSource" .Params.imageSource }}
        {{ .Scratch.Set "url" .RelPermalink }}

        {{- partial "topic-card.html" . -}}
    {{ end }}

</section>

<style>
    /* change for later */
  .topics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.5rem;
  }
</style>

{{ end }}