{{ define "main" }}


{{- partial "banner.html" (dict "fill" "#568CE1" "heading" "Description of the Dataset") -}}

<section class = 'topics'>

    {{ range where (where .Pages "Section" "topics" ) "Params.type" "==" "topic" }}

        {{$description := .Params.description}}
        {{$title := .Params.title}}
        {{$imageSource := .Params.imageSource}}

        {{- partial "topic-card.html" (dict "title" $title "description" $description "imgSource" $imageSource) -}}


    {{ end }}

</section>

{{ end }}