{{- define "body" -}}
  {{- partial "banner.html" (dict "bg" "bg-purple-400" "heading" "About Us") -}}

  <section class="flex flex-col flex-wrap justify-center w-full px-16 align-center">
    <div class="flex flex-row justify-center gap-16 p-8">
      <img src="/images/DSSD-Madison.svg" alt="DSSD Madison logo" class="h-16 lg:h-64">
      <img src="/images/nav-logo.png" alt="Navigation logo" class="h16 lg:h-64">
    </div>
    <div class="text-left lg:text-lg max-w-11/12">
      <article class="overflow-hidden prose prose-slate max-w-none">
        {{ .Content }}
      </article>
    </div>
  </section>
{{- end -}}
