{{ define "extraheaders" }}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>
<script
  defer
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>

<script defer src="/js/map.js"></script>
{{ end }}

{{ define "main" }}
{{- partial "banner.html" (dict "fill" "#6A589C" "heading" "Description of the Dataset: " "context" .) -}}
<section class="topic">
  <div>{{ .Content }}</div>
  <div class="map">
    <img
      src="https://www.google.com/maps/vt/data=UPr4ysHJ-FNXbw-oySKF5dRh8dZK5xqtUDQEPqlSvHrnA4LEvX4Ue8xNflIMSFqrD0Km1KK_g8FA4aP-bzezsQuZSBFfWBP0rx9KlpDcflhuqSvd71d7C1KxbhRunzOFeitlQ6D-SGQzbveZnXBoNH9jWMRBL0ykUGllNY67GdvS5DiRLO_9bPfFcq3xwyb3Ol3K9WP4p8m4k5mL_ka2D4qnFkNbC64uBY6HvjJ2WCNBpw7EDr23TbtxeshgPzTVXQ"
    />
  </div>

{{ .Content}}

{{ end }}
