
{{ define "extraheaders" }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
crossorigin=""></script>

<script src="/js/map.js"></script>



{{ end }}

{{ define "main" }}

{{- partial "banner.html" (dict "fill" "#6A589C" "heading" "Description of the Dataset: " "context" .) -}}

<section class = 'topic'>
    <div class = "map">
        <img src = "https://www.google.com/maps/vt/data=UPr4ysHJ-FNXbw-oySKF5dRh8dZK5xqtUDQEPqlSvHrnA4LEvX4Ue8xNflIMSFqrD0Km1KK_g8FA4aP-bzezsQuZSBFfWBP0rx9KlpDcflhuqSvd71d7C1KxbhRunzOFeitlQ6D-SGQzbveZnXBoNH9jWMRBL0ykUGllNY67GdvS5DiRLO_9bPfFcq3xwyb3Ol3K9WP4p8m4k5mL_ka2D4qnFkNbC64uBY6HvjJ2WCNBpw7EDr23TbtxeshgPzTVXQ"> 
    </div>   

    <div class="topic-content">
        <h1>Relevant Variables and Data</h1>
        <button type="button">Download data</button>
        <table>
            <tr>
              <th>Company</th>
              <th>Contact</th>
              <th>Country</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
            </tr>
            <tr>
              <td>Ernst Handel</td>
              <td>Roland Mendel</td>
              <td>Austria</td>
            </tr>
            <tr>
              <td>Island Trading</td>
              <td>Helen Bennett</td>
              <td>UK</td>
            </tr>
            <tr>
              <td>Laughing Bacchus Winecellars</td>
              <td>Yoshi Tannamuri</td>
              <td>Canada</td>
            </tr>
            <tr>
              <td>Magazzini Alimentari Riuniti</td>
              <td>Giovanni Rovelli</td>
              <td>Italy</td>
            </tr>
          </table>

        <h1>Stories</h1>
        <h2>{{ .Params.title }}</h2>
        <h3>Author: {{ .Params.Author }}</h3>
        <button type="button">Download data</button>
        <p>Once upon a time, in a small village, the population was steadily increasing. However, the village did not have enough 
          resources to sustain the growing number of people. The villagers started to experience food and water scarcity, 
          leading to conflicts and unhappiness. The wise village leader realized that something needed to be done to control the population growth. 
          He encouraged families to have fewer children and also provided education and job opportunities to the women, which helped in reducing the birth rate. 
          Slowly, the village became self-sufficient and the population stabilized, leading to peace and prosperity for all.</p>
       <img src = "https://wcs.smartdraw.com/chart/img/basic-bar-graph.png?bn=15100111862"> 
       <p>Once upon a time, in a small village, the population was steadily increasing. However, the village did not have enough 
        resources to sustain the growing number of people. The villagers started to experience food and water scarcity, 
        leading to conflicts and unhappiness. The wise village leader realized that something needed to be done to control the population growth. 
        He encouraged families to have fewer children and also provided education and job opportunities to the women, which helped in reducing the birth rate. 
        Slowly, the village became self-sufficient and the population stabilized, leading to peace and prosperity for all.</p>
    </div>

    <button onclick="loadMap()">click me</button>
    <div id='map'></div>

</section>



<style>

    #map {
          width: 100vh;
          height: 100vh;
        }

    .topic {
        display: flex;
        width: auto;
        justify-content: center;
        flex-direction: column;
    }

    .map{
        display: flex;
        width:100%;
        /* height:600px; */
        flex-direction: column;
        align-self: center;
    }

    .topic-content{
    display: flex;
    flex-direction: column;
    width:auto;
    padding-left: 2rem;
    text-align: left;
    }

    .topic-content h1{
    font-size: 2rem;
    }

    .topic-content h3{
    margin-top: 0%;
    margin-left: 1rem;
    font-size: 1rem;
    }

    .topic-content p{
    width: 60rem;
    font-size: 1rem;
    }

    .topic-content button {
    color: white;
    background-color: #394D6B;
    padding: 0%;
    border-radius: 8px;
    width:8rem;
    text-align: center;
    font-size:1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    }

    .topic-content table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50rem;
    }

    .topic-content img {
    width: 50rem;
    }

    .topic-content td, .topic-content th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    }

    .topic-content tr:nth-child(even) {
    background-color: #dddddd;
    }
</style>


{{ end }}