<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="/images/nav-logo.png" />

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/partials/banner.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/partials/navbar.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/partials/tag.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/partials/topic-card.css" />

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/shortcodes/paragraph.css" />

{{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{ $title =
.Site.Title }}{{ end }}
<title>{{ $title }}</title>
