<nav>
  <div onclick="goBackHome()">
    <img src="/images/nav-logo.png" alt="GeoDS4Bolivia Logo" class = "logo"> 
    <!-- no clue how the image src works so I kinda guessed and it worked- Ashwin -->
    <h3>GeoDS4Bolivia Database</h3>
  </div>
  <div>
    <button class = "how-to-contribute-btn">How to To Contribute?</button>
    <button class = "add-a-contribution-btn">Add a Contribution +</button>
  </div>
</nav>

<script>
  function goBackHome() {
    window.location.href = "/";
  }
</script>