<a class="flex flex-col w-64 max-w-xs p-0 overflow-hidden no-underline transition ease-in-out delay-75 bg-white rounded shadow-lg cursor-pointer hover:scale-110" href="{{ .Scratch.Get "url"}}">
    <img class="object-cover w-full aspect-square" src="{{ .Scratch.Get "imageSource" }}" alt="{{ .Scratch.Get "title" }}" />
  
  <div class="p-1 min-h-[8px]">
    {{ if (not (.Scratch.Get "hideTitle")) }}
      <div class="pb-2 text-lg font-bold">{{ .Scratch.Get "title" }}</div>
      <div class="text-base font-medium">{{ .Scratch.Get "description" }}</div>
    {{ else }}
      <div class="text-lg font-medium">{{ .Scratch.Get "description" }}</div>
    {{ end }}
  </div>

  <div class="box-border flex flex-row flex-wrap justify-center w-full gap-1 px-1 py-2">
    {{ $scratch := newScratch }}
    {{ range $tag := .Params.tags }}
      {{ $scratch.Set "tag" $tag }}
      {{- partial "tag.html" $tag -}}
    {{- end -}}
  </div>
</a>