{{ define "main" }}
<!-- This is where the first page/home will be -->
<section class = 'home'>
  <div class="left-side-content">
    <h1>
      Regional development through the lens of spatial data science
    </h1>

    <h3>
      A database with <span class = "purple">geographical datasets</span> centered around the process of <span class = "green">sustainable development</span> across <span class = "light-blue">subnational regions and countries</span>.
    </h3>

    <a href = "/topics" class="explore">
      <u>Explore</u> ⟶
    </a>


  </div>
</section>

<style> 
  
.home {

  --purple: #D0BFFF;
  --green: #25843A;
  --light-blue: #568CE1;

  background-color: var(--purple);

}

.purple {
  color: var(--purple);
}

.green {
  color: var(--green);
}

.light-blue {
  color: var(--light-blue);
}

.home .left-side-content{
  max-width: 60%;
  background-color: white;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.home .left-side-content > * {
  margin: 1rem 2rem;
}

.home .left-side-content h1{
  font-size: 50px;
  text-align: center;

}

.home .left-side-content h3{
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.home .explore{
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none  !important;
  color: black !important;
  transition: transform 0.5s ease-in-out;
  }

.home .explore:hover{
  transform: scale(1.1);
  }
</style>
{{ end }}