{{ define "main" }}
<section class="content">
  <div class="left">
    <div class="title">
      Regional development through the lens of spatial data science
    </div>
    <div class="subtitle-container">
      <div class="subtitle">
        A database with
        <span class="purple">geographical datasets</span> centered around the
        process of <span class="green">sustainable development</span> across
        <span class="light-blue">subnational regions and countries</span>.
      </div>
    </div>
    <a href="/topics" class="explore"> <u>Explore</u> ⟶ </a>
  </div>
  <div class="right">
    <img src="/images/cover.png" alt="homepage image" class="image" />
  </div>
  <div class="circle1"></div>
  <div class="circle2"></div>
</section>

<style>
  /* Overriding navbar styling to allow content background to underlay navigation */
  nav {
    z-index: 2;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
  }

  .content {
    --purple: #d0bfff;
    --green: #25843a;
    --light-blue: #568ce1;

    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
  }

  .content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 64px;
    gap: 16px;

    flex: 5;
    order: 0;
    align-self: stretch;

    background-color: white;
  }

  .content .right {
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 5;
    order: 1;
    align-self: stretch;

    background-color: var(--purple);
  }

  .title {
    z-index: 1;

    letter-spacing: -2px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 125%;

    /* Neutrals/N900 */
    color: #192333;
  }

  .subtitle-container {
    z-index: 1;

    background: rgba(255, 255, 255, 0.5);
    border: 16px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background-clip: padding-box;
  }

  .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;

    /* Neutrals/N900 */
    color: #192333;
  }

  .explore {
    z-index: 1;

    align-self: center;

    text-decoration: none;

    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 150%;

    /* Neutrals/N900 */
    color: #192333;

    transition: transform 0.25s ease-in-out;
  }

  .explore:hover {
    transform: scale(1.1);
  }

  .purple {
    color: var(--purple);
  }

  .green {
    color: var(--green);
  }

  .light-blue {
    color: var(--light-blue);
  }

  .image {
    max-width: 80%;
    border: 5px solid #171f41;
  }

  .circle1 {
    position: absolute;
    width: 600px;
    height: 600px;
    left: -164px;
    bottom: -140px;

    border-radius: 50%;
    background: rgba(171, 198, 240, 0.5);
  }

  .circle2 {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 259px;
    bottom: -389px;

    border-radius: 50%;
    background: rgba(171, 198, 240, 0.5);
  }
</style>

<script>
  const scale1 = 25;
  const scale2 = 50;

  window.addEventListener('mousemove', (function(e) {
    /* left: -164px; bottom: -140px; */
    const circle1 = document.querySelector(".circle1");
    /* left: 259px; bottom: -389px; */
    const circle2 = document.querySelector(".circle2");
  
    circle1.style.transform = `translate(${e.clientX / scale2}px, ${e.clientY / scale1}px)`;
    circle2.style.transform = `translate(${e.clientY / scale1}px, ${e.clientX / scale2}px)`;
  }));
</script>
{{ end }}
