{{/*  Corresponds to the /tags/sometag endpoint  */}}
{{ define "main" }}
{{ partial "work-in-progress.html" }}
{{/*  <div>
  <h1>{{ .Title }}</h1>
  <div class='topic-cards'>
    {{ range where .Data.Pages.ByWeight "Section" "topics" }}
        {{ .Scratch.Set "title" .Params.title }}
        {{ .Scratch.Set "hideTitle" .Params.hideTitle }}
        {{ .Scratch.Set "description" .Params.description }}
        {{ .Scratch.Set "imageSource" .Params.imageSource }}
        {{ .Scratch.Set "url" .RelPermalink }}

        {{- partial "topic-card.html" . -}}
    {{ end }}
  </div>
</div>  */}}
{{ end }}

